@model List<RegistroTransaccion>
@{
	ViewData["Title"] = "Transacciones";
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="col-12 text-center">
			<h2 class="text-white py-2">Lista de Transacciones</h2>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="RegistroTransaccion" asp-action="Crear" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> Crear Nueva Transacción
				</a>
			</div>
		</div>

		<div class="table-responsive-sm">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Empleado</th>
						<th scope="col">Monto</th>
						<th scope="col">Tipo</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var transaccion in Model)
					{
						<tr>
							<td>@transaccion.Id</td>
							<td>@transaccion.Empleado.Nombre</td>
							<td>
								@if (transaccion.Ingreso != null && transaccion.Ingreso != 0)
								{
									<span>RD$@transaccion.Ingreso.Value.ToString("N2")</span>
								}
								else
								{
									<span>RD$@transaccion.Deduccion.Value.ToString("N2")</span>
								}
							</td>
							<td>@transaccion.TipoTransaccion</td>
							<td>@transaccion.Fecha</td>
							<td>@transaccion.Estado</td>
							<td class="d-flex justify-content-end">
								<div class="w-100">
									<a asp-controller="RegistroTransaccion" asp-action="Editar" asp-route-id="@transaccion.Id" class="btn btn-primary mx-2">
										<i class="bi bi-pencil-square"></i> Editar
									</a>
									<a asp-controller="RegistroTransaccion" asp-action="Eliminar" asp-route-id="@transaccion.Id" class="btn btn-danger mx-2">
										<i class="bi bi-trash-fill"></i> Eliminar
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

