@model List<Departamento>
@{
    ViewData["Title"] = "Departamentos";
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="col-12 text-center">
			<h2 class="text-white py-2">Lista de Departamentos</h2>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Departamento" asp-action="Crear" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> Crear Nuevo Departamento
				</a>
			</div>
		</div>

		<div class="table-responsive-sm">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">Ubicación Física</th>
						<th scope="col">Responsable Del Área</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var departamento in Model)
					{
						<tr>
							<td>@departamento.Id</td>
							<td>@departamento.Nombre</td>
							<td>@departamento.UbicacionFisica</td>
							<td>@departamento.ResponsableDeArea.Nombre</td>
							<td class="d-flex justify-content-end">
								<div class="w-100">
									<a asp-controller="Departamento" asp-action="Editar" asp-route-id="@departamento.Id" class="btn btn-primary mx-2">
										<i class="bi bi-pencil-square"></i> Editar
									</a>
									<a asp-controller="Departamento" asp-action="Eliminar" asp-route-id="@departamento.Id" class="btn btn-danger mx-2">
										<i class="bi bi-trash-fill"></i> Eliminar
									</a>
									<a asp-controller="Empleado" asp-action="Empleados" asp-route-id="@departamento.Id" class="btn btn-outline-success mx-2">
										<i class="bi bi-eye-fill"></i> Ver Empleados
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

